# Ignore large game data directories
.*/
.__pycache__/
AnimeGameData/
GenshinCompanion-Ele/
turnbasedgamedata/
notebook/
scraper/
logs/
test_outputs/

# Python
__pycache__/
*.pyc
docs/
metadata/

# TypeScript compilation output
/web/docs-site/src/**/*.js
/web/docs-site/src/**/*.js.map
/web/docs-site/src/**/*.vue.js
/web/docs-site/src/modules