# Ignore large game data directories
.*/
agent/
.__pycache__/
AnimeGameData/
GenshinCompanion-Ele/
turnbasedgamedata/
notebook/
scraper/
logs/
test_outputs/

# Python
__pycache__/
*.pyc
docs/

# Cache files
web/docs-site/public/gi_md/
web/docs-site/public/hsr_md/
web/docs-site/public/search/
web/docs-site/public/search_hsr/
web/docs-site/public/index_gi.json
web/docs-site/public/index_hsr.json