# Ignore large game data directories
.*/
agent/
.__pycache__/
AnimeGameData/
GenshinCompanion-Ele/
turnbasedgamedata/
notebook/
scraper/
logs/
test_outputs/

# Python
__pycache__/
*.pyc
docs/
metadata/